# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Pytest
.pytest_cache/
.cache/
.coverage
htmlcov/
coverage.xml

# VS Code
.vscode/*
!.vscode/settings.json      
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# PyCharm / IDE khác
.idea/
*.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# File môi trường, mật khẩu
.env
.env.local
.config

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log
logs/

# Build / dist
build/
dist/
*.egg-info/
*.egg